@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
background-color: rgb(15, 15, 15);
color: white;
}
img {
    border: 2px blue solid;
    padding: 10px;
    margin: 10px;
    transition: all 2s;
    display: inline-block;
}
img:hover {
    border: none;
    outline: 5px dashed white;
    box-shadow: 0 0 0 5px #767676;
}
p {
    font-family:Comic Sans MS,cursive;
    font-size:18px;
}
#link:hover {
    transition: all 0.5s;
    font-family: 'Roboto';
    outline: 2px dashed aqua;
}
p.title {
    text-align:center;
    font-size:26px;
    font-family:comic sans ms, cursive, -apple-system;
}

a {
    font-family:Comic Sans MS,cursive;
    font-size:18px;
}
