body {
  background-color: #141414;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
}

.section-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.input {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

.button {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  margin-right: 10px;
  cursor: pointer;
}

hr {
  border: 1px solid #333;
  margin: 20px 0;
}

.console-container {
  background-color: #333;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.consolebody p {
  font-size: 1.2em;
  margin: 10px 0;
}

.console-input input {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

.console-button {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
}

.home {
  position: absolute;
  top: 0px;
  right: 5px;
  width:3em;
}
.presets {
  margin-right: 10px;
  cursor: pointer;
}
.presets:hover {
  transform: scale(1.1);
}